{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('post') }}
{% endblock %}

{% block body %}
<a class="text-decoration-none" href="{{ path('user_show', {id: post.user.id}) }}">
    <h1 class="text-center mt-4 mb-3">
        <img class="profilePicture img-thumbnail rounded-circle" src="/{{ post.user.profilePicture }}"
            alt="Photo de profile de {{ post.user.pseudo }}">
        {{ post.user.pseudo }}
    </h1>
</a>
<div class="card">
    <img class="img-fluid card-img-top" src="/{{ vich_uploader_asset(post) }}"
        alt="photo postée par {{ post.user.pseudo }}">
    <div class="card-body">
        <div class="icone-bar d-flex justify-content-between">
            <div class="col-2">
                <a href="{{ path('app_home') }}">
                    <i class="bi bi-arrow-return-left icone"></i>
                </a>
            </div>
            <div class="col-2 text-end">
                <a href="{{ path('posts_like', {id: post.id}) }}">
                    {{ app.user.asLike(post) ? '<i class="bi bi-heart-fill icone text-danger"></i>' : '<i
                        class="bi icone bi-heart"></i>' }}
                </a>
            </div>
        </div>

        <p class="card-text"><span class="fw-bold">{{ post.user.pseudo }}</span> {{ post.description }}</p>
    </div>
</div>

{% endblock %}