<div class="card mb-4 mx-3 my-1">
    <div class="row my-1">
        <div class="col-2 ms-1 text-center p-0">
            <a href="{{ path('user_show', {id: post.id}) }}">
                <img src="{{ post.user.profilePicture }}" class="img-thumbnail pp rounded-circle"
                    alt="photo de profil de {{ post.user.pseudo }}">
            </a>
        </div>
        <div class="col p-0 d-flex">
            <a href="{{ path('user_show', {id: post.id}) }}" class="d-flex text-decoration-none">
                <p class="m-0 text-start align-self-center pseudo">{{ post.user.pseudo }}</p>
            </a>
        </div>
    </div>
    <img src="{{ vich_uploader_asset(post) }}" class="card-img-top rounded-0"
        alt="photo postée par {{ post.user.pseudo }}">
    <div class="card-body py-1">
        <div class="row">
            <div class="likes d-flex col-10">
                <div class="col-2 text-start">
                    <a href="{{ path('posts_like', {id: post.id}) }}">
                        {{ app.user.asLike(post) ? '<i class="bi bi-heart-fill text-danger"></i>' : '<i
                            class="bi bi-heart"></i>' }}
                    </a>
                </div>
                <div class="col-2 text-start">
                    <i class="bi bi-chat"></i>
                </div>
            </div>
            <div class="col-2 text-end">
                <i class="bi bi-star"></i>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if post.description %}
                <p class="description">
                    <span class="user">
                        {{ post.user.pseudo }}
                    </span>
                    {{ post.description }}
                </p>
                {% endif %}
                <p class="text-secondary postedAt"> posté le : {{ post.updatedAt|date("d M Y", "Europe/Paris") }}</p>
            </div>
        </div>
    </div>
</div>