{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon Profile{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
<h1 class="text-center mt-4 mb-2">Mon profil</h1>
<img src="/{{ user.profilePicture }}" class="offset-5 profilePicture img-thumbnail rounded-circle"
    alt="photo de profil de {{ user.pseudo }}">
<p class="text-center fs-2">{{ user.pseudo }}</p>
<p class="col-10 offset-1">{{ user.description }}</p>
<section class="posts">
    <h2 class="text-center mb-3 mt-5">Postes</h2>
    <hr class="m-1">
    {% for post in user.posts %}
    <div class="col-4">
        <!--TODO faire le show d'un post -->
        <a href="">
            <img src="/{{ post.picturePath }}" class="img-fluid" alt="post de {{ user.pseudo }}">
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}